.page {
    height: 90vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid white;
    border-bottom: 10px solid rgb(34, 34, 34);
    border-top: 10px solid rgb(32, 23, 23);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}